

*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #bea6d9;
  height: 100%;
}

.App-header {
  background-color:#6F62A0;
  text-align: right;
  font-weight: bold;
  color: white;
  padding: 10px;
  padding-bottom:1px;
  margin-bottom: 0px;
}

.logo{
  text-align: left;
  padding:0;
  margin:0;
}

.landing-logo {
  text-align: left;
  padding-bottom:18px;
  margin:0;
}

.nav{
  padding-bottom: 0;
  color: white;
  text-decoration: none;
  padding-right: 20px;
  position: relative;
  bottom: 25px;

}

.mainImg {
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 15px;;
  border: solid 5px #6F62A0;
}

.arrows {
  position: relative;
  bottom: 50px;
}
.left-arrow {
font-size: 20px;
color: white;
background:none;
border: none;
cursor: pointer;
position: relative;
right: 170px;
bottom: 170px;
}

.right-arrow {
  font-size: 20px;
  color: white;
  background:none;
  border: none;
  cursor: pointer;
  position: relative;
left: 170px;
bottom: 170px;
}

.audio-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 500px;
  height: 120px;
  color: white;
font-weight: bold;
overflow: hidden;
overflow-y: scroll;
direction: rtl;
background-color: #6F62A0;
padding: 30px;
border-radius: 25px;
font-size: 12px;
}

.audio-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.player {
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;

}

.audio-name {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  background-color:#bea6d9;
  padding: 7px;
  border-radius: 20px;
  position: relative;
  bottom: 15px;
}

.components {
  height: 1000px;
display:flex;
justify-content: space-evenly;
margin-top: 30px;
}

.gif-audio {
  margin-left:auto;
  margin-right:auto;
}

.notePad {
  margin-left:auto;
  margin-right:auto;
}

.audio-component {

  position: relative;
  bottom: 1070px;
  left: 752px;
}

.note-wrapper {
  width: 450px;
  height:623px;
  background-color:#6F62A0;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  overflow: hidden;
overflow-y: scroll;
}

.note-wrapper::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.write {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 10px;
  letter-spacing: 10px;

}

.remove-note {
  font-size: 12px;
  color: red;
  border: none;
  background-color:#bea6d9;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 175px;
  bottom: 33px;
  font-weight: bold;
}

.add {
  width: 40px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  background:rgb(0, 166, 0);
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  left:375px;
  bottom: 0px;
}

.input-text {
width:300px;
padding: 20px;
border-radius: 20px;
border-style: none;
position: relative;
right: 55px;
margin: 30px;
}

.text {
  width: 280px;
  font-weight: bold;
  border-radius: 20px;
  background-color:#bea6d9;
  position: relative;
  left: 20px;
  padding: 10px;
}

.edit-text {
  width: 280px;
  font-weight: bold;
  border-radius: 20px;
  background-color:#bea6d9;
  color: white;
  position: relative;
  right: 55px;
  padding: 10px;
}

.icons {
  padding: 0;
  margin:0;
}
.item {
  padding: 0;
  margin:0;
  height: fit-content;
}

.edit {
  width: 40px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: none;
  background-color:rgb(0, 166, 0);
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  left: 140px;
  bottom: 32px;
}

.save {
  width: 50px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: none;
  background-color:rgb(0, 166, 0);
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  left: 140px;
  bottom: 33px;
}

.delete {
  width: 40px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: none;
  background-color:rgb(203, 19, 19);
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  left: 190px;
  bottom: 60px;
}

.landing-background {
  background-color:#bea6d9;
  height: 1000px;
}

.landing-image {
  width: 800px;
  margin-top: 70px;
  background-size: cover;
  border-radius: 15px;;
  border: solid 3px #6F62A0;
  opacity: .5;
}

.login-background {
  background-color: #6F62A0;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  bottom: 400px;
}
.email {
color: white;

}

.password {
  color: white;

}

.email-input {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.password-input {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.login-btn {
width: 80px;
padding: 5px;
border-radius: 10px;
border: none;
 background-color:#bea6d9;
 color:black;
 font-weight: bold;
 margin-right: 10px;
 margin-bottom: 10px;
 cursor: pointer;
 text-decoration: none;
}

.register-btn {
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  border: none;
   background-color:#bea6d9;
   color:black;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
   text-decoration: none;
}

.back-btn {
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  border: none;
   background-color:#bea6d9;
   color:black;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
   text-decoration: none;
}